<h1>Listing urls</h1>

<table>
  <thead>
    <tr>
      <th>Long URL</th>
      <th>Short URL</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @urls.each do |url| %>
      <tr>
        <td><%= url.longurl %></td>
        <td><%= link_to url.shorturl, "urls/#{url.shorturl}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Url', new_url_path %>
